WEB_TECHNOLOGY/XML/emplyoee.xsd

<?xml version="1.0" ?>
<xs:schema version="1.0"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
elementFormDefault="qualified">

    <xs:element name="emplyoee">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="empname" type="xs:string"></xs:element>
            <xs:element name="empid" type="xs:string"></xs:element>
            <xs:element name="desginataion" type="xs:string"></xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>